/* Custom CSS */
.sliderate{
    height: 1em;
    line-height: 1em;
    width: 1em;
}

.star_rating:before {
    color: #818181;
    content:  "\f005\f005\f005\f005\f005";
    display: block;
    font-family: FontAwesome;
      font-size: 20px;
    left: 0;
    padding-left: 5px;   
    top: 0;
}

.star_rating {
    display: inline-block;
    letter-spacing: 5px;
    position: relative;
}

.star_rating p:before {
    color: #ffbb00;
    content:  "\f005\f005\f005\f005\f005";
    display: block;
    font-family: FontAwesome;
    font-size:20px;
    left: 0;
    padding-left: 5px;
    position: absolute;    
    top: 0;
}

.star_rating p {
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.star_rating {
    letter-spacing: 5px;
}

.post-img-date span a{  
  padding: 8px;  
}

.faq-heading a {
  color: #000000;
  text-decoration: none;
}
.faq-block {
  margin-bottom: 40px;
  margin-top: 25px;
}

#contactus-map {
  height: 400px;
}

.form-control {
  border-radius: 0;
}
#button-review{
    margin-bottom: 25px;
}

.btn-primary {
  background: none repeat scroll 0 0 #4db9df;
  border: 1px solid #4db9df;
  border-radius: 0;
}
#form-review h2{
    margin-bottom: 10px;
    padding: 0px;
}
.blog-recentpost ul li a img {
  width: 100px;
}
.reviews .fa-stack{
    font-size:8px;
    color: #ddbc00;
}

.rating{
    color: #FCBA55;
}

.customer-detail .fa-stack{
    float: none !important;
    font-size:8px;
    color: #FCBA55;
}
.review-button {
  background: none repeat scroll 0 0 #4e4e4e;
  border-radius: 5px;
  color: #ffffff;
  float: right;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
}
.review-button:hover {
  background: none repeat scroll 0 0 #4db9df;
  color: #ffffff;
}

.price .badge{
    border-radius: 4px;
    padding: 10px;
    font-size: 25px;
    margin-top: 0px;
}

.price {
    text-align: right;
}

.tab-content h2{
    margin-bottom: 0px;
}

.w-inch{
    margin-right: 0px;
}

.btn-fileup{
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 100%) repeat scroll 0 0;
  font-size: 17px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
}

#file_name_disp{
    float: left;
}
